{% extends "learning_logs/base.html" %}
<head>

    <title>Фото</title>
</head>
<body>
{% block jumb %} {% endblock %}
{% block content %}
    <div class="container ">
        <div class="row ">
            <div class="col">

                    {% load thumbnail %}
                    {% thumbnail imag.image "500" as im %}
                        <div class="card">
                            <img src="{{ im.url }}" class="image-detail" alt="...">
                              {% endthumbnail %}
                            <div class="card-body">
                                <h4 class="card-title">{{ imag.title }}</h4>
                                <p class="card-text">Автор: {{ imag.owner }}</p>
                                <h6 class="card-text">{{ imag.description }}</h6>

                                {% with total_likes=imag.users_like.count users_like=imag.users_like.all %}
                                    <div class="image-info">
                                        <div>
                                        <span class="count">
                                        Нравится
                                        <span class="total">{{ total_likes }}</span>

                                        </span>
                                            <a href="#" data-id="{{ imag.id }}"
                                               data-action="{% if request.user in users_like %}un{% endif %}like"
                                               class="like button btn btn-outline-warning btn-lg btn-block" >
                                                {% if request.user not in users_like %}
                                                    Ok
                                                {% else %}
                                                    Отменить
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                {% endwith %}
                            </div>
                        </div>


            </div>
            <div class="col ">
                <h4>Коментарии: {{ l }} шт.</h4>
                {% for i in entries %}
                    {% if forloop.counter|divisibleby:'2' %}
                        <div class="alert alert-secondary" role="alert">
                            <p>{{ i.aftor }}, {{ i.date_added|date:'d/m/Y' }}г.</p>
                            {{ i.text }}
                        </div>
                    {% else %}
                        <div class='alert alert-success' role="alert">
                            <p>{{ i.aftor }}, {{ i.date_added|date:'d/m/Y' }}г.</p>
                            {{ i.text }}
                        </div>
                    {% endif %}
                {% empty %}
                {% endfor %}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Добавить коментарий
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            {% if user.is_authenticated %}
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Ваш коментарий</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="." method='post'>
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть
                                    </button>
                                    <button type="submit" class="btn btn-primary">Добавить</button>
                                    </form>
                                </div>
                            {% else %}
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Оставлять коментарии могут только
                                        зарегистрированные пользователи</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="row justify-content-around">
                                    <div class="col-2">
                                        <a class="btn btn-primary btn-lg" href="{% url 'users:login' %}" role="button">Войти</a>
                                    </div>
                                    <div class="col-4">
                                        <a class="btn btn-secondary btn-lg" href="{% url 'users:register' %}"
                                           role="button">Зарегистрироваться</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}






</body>
</html>