{% extends "learning_logs/base.html" %}


    <title>Title</title>
</head>
<body>
</body>
{% block content %}
<img src="{{ imag.image.url}}" alt="connect" style="max-height:200px" >
{{ imag.title }}
{%for i in entries%}
<p>{{ i.text }}</p>

    <p>{{ i.date_added|date:'d m, Y H:i' }}</p>
    <p>{{ i.aftor}}</p>
    {% empty %}
{% endfor %}


<p>Добавить коментарий:</p>
 <form action="." method='post'>
{% csrf_token %}
{{ form.as_p }}
<button name='submit'>Опубликовать</button>
</form>
{% endblock content %}
</html>